{% load static %}

<nav
  class="rounded-b-3xl sm:py-2 py-0 sm:px-10 px-0 bg-zinc-300 border-t-0 border border-zinc-400 shadow-zinc-300 drop-shadow-2xl duration-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img class="sm:h-8 h-6 duration-300" src="{% static '/img/farnazex.png' %}" alt="farnazex">
      <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo"/> -->
      <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span> -->
    </a>
    <button data-collapse-toggle="navbar-dropdown" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-xl sm:hidden hover:bg-zinc-400 duration-300"
      aria-controls="navbar-dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <div class="hidden w-full sm:block sm:w-auto" id="navbar-dropdown">
      <ul
        class="flex flex-col font-medium p-2 sm:p-0 mt-2 pl-6 pr-6 text-black rounded-2xl shadow-inner sm:shadow-zinc-300 shadow-zinc-600 sm:bg-zinc-300 bg-zinc-100 sm:space-x-8 rtl:space-x-reverse sm:flex-row sm:mt-0">
        <li class="hidden">
          <a href="#"
            class="block py-2 px-3 text-white bg-blue-700 rounded-sm sm:bg-transparent sm:text-blue-700 sm:p-0 sm:dark:text-blue-500 dark:bg-blue-600 sm:dark:bg-transparent"
            aria-current="page">Home</a>
        </li>
        <li class="hidden">
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 sm:hover:bg-transparent sm:border-0 sm:hover:text-blue-700 sm:p-0 sm:w-auto dark:text-white sm:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 sm:dark:hover:bg-transparent">Dropdown
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
              </li>
            </ul>
            <div class="py-1">
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                out</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/"
            class="block py-2 px-3 rounded-lg sm:text-base text-center text-xs text-black  hover:sm:text-zinc-500 hover:bg-zinc-300 hover:shadow-inner hover:shadow-zinc-500 hover:sm:shadow-zinc-300 sm:p-0 duration-300">Home</a>
        </li>
        <li>
          <a href="{% url 'calculator:calculator' %}"
            class="block py-2 px-3 rounded-lg sm:text-base text-center text-xs text-black hover:sm:text-zinc-500 hover:bg-zinc-300 hover:shadow-inner hover:shadow-zinc-500 hover:sm:shadow-zinc-300 sm:p-0 duration-300">Calculator</a>
        </li>
        <li>
          <a href="{% url 'about:about' %}"
            class="block py-2 px-3 rounded-lg sm:text-base text-center text-xs text-black hover:sm:text-zinc-500 hover:bg-zinc-300 hover:shadow-inner hover:shadow-zinc-500 hover:sm:shadow-zinc-300 sm:p-0 duration-300">About</a>
        </li>
        <!-- Dark Mode Button -->
        <li class="hidden">
          <div
            class="disabled::flex-row max-w-xs mx-auto py-2 px-auto rounded-lg sm:text-base text-center sm:p-0 duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              class="moon bi bi-moon-stars-fill sm:w-5 sm:h-5 w-4 h-4 cursor-pointer duration-600 text-blue-400"
              viewBox="0 0 16 16">
              <path
                d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278">
              </path>
              <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z">
              </path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              class="sun bi bi-brightness-high-fill sm:w-5 sm:h-5 w-4 h-4 cursor-pointer duration-600 text-yellow-500"
              viewBox="0 0 16 16">
              <path
                d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708">
              </path>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>